
img{
  margin-top: 5%;
}

.input-form {
  margin-top: 3%;
}

#searchInput{
	display: inline-block;
	background-color: #e2e2e2;
	width: 45%;
	border-radius: 100px;
	padding: 5px 16px;
}

#searchIcon{
	display: block;
	padding-top: 10px;
	font-size: 2.5em;
	float: left;	
}

input {
	display: block;
	float: right;
    color: #333;
    border: none;
    border-radius: 100px;
    background-color: #e2e2e2;
    outline: none;
    width: 94%;
    height: 55px;
    padding: 5px 16px;
    margin-left: 5px;
    font-size: 1.25em;
    -webkit-appearance: none;
}
