table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.table-container {
  padding: 30px;
  text-align: left;
}

#tabAuto {
  overflow: auto;
}

.state.fav.active {
  color:#f16f6f;
}

.state.fav {
  color:#acacac;
}

.state.visibility.active {
  color:#000000;
}

.state.visibility {
  color:#acacac;
}

.headerTable {
  width: 100%;
  overflow: auto;
  background-color: white;
}

.actionButton {
  float: right;
}

.actionButton button {
  margin: 10px 10px 10px 0;
}

#favButton.enabled{
  background-color:#f16f6f;
  color: white;
}

#neutralButton.enabled {
  background-color:#8d8c8c;
  color: white;
}

#hideButton.enabled {
  background-color:#000000;
  color: white;
}

@media (max-width: 400px) {
  .cdk-column-state {
    width: 40px;
  }
}

