<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <mat-toolbar>
    <span></span>
    <span class="example-fill-remaining-space"></span>

    <mat-menu #appMenu="matMenu">
      <button mat-menu-item (click)="goToPref()">Mes préférences</button>
      <button mat-menu-item>Aide</button>
      <button mat-menu-item>À propos</button>

    </mat-menu>
    <button style="float: right" mat-icon-button [matMenuTriggerFor]="appMenu">
      <mat-icon>more_vert</mat-icon>
    </button>
  </mat-toolbar>
  <img width="300" alt="JeuxDeMots Logo" src="../assets/loupeJDM_Project.png">

  <form class="example-form">
    <mat-form-field class="example-full-width">
      <input type="text" placeholder="Saisissez un mot à rechercher" aria-label="Mot" matInput [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let option of options" [value]="option">
          {{option}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>
</div>

