table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.table-container {
  padding: 30px;
  text-align: left;
}

.state.fav.active {
  color:#ef9a9a;
}

.state.fav {
  color:#acacac;
}

.state.visibility.active {
  color:#000000;
}

.state.visibility {
  color:#acacac;
}

