#modal{
	width: auto;
	display: inline-block;
	margin-top: 1%;
	margin-left: 1%;
}

#selec{
	width: auto;
	margin-bottom: 2%;
	display: block;
}

#chipFav{
	width: 80%;
	display: block;
}

#allAssoc{
	margin-top: 2%;
	width: 100%;
	height: 300px;
	overflow: auto;
}

.colorChip{
	background-color: #c5e1a5;
	margin-left: 1%;
	margin-top: 1%;
}

#confirm{
	float: right;
	margin-top: 2%;
	margin-right: 2%;
}