mat-form-field{
	width: 30%; 
	float: left;
	margin-top: 2%;
	margin-left: 2%;
}

#favGen{
	width: 100%;
	overflow: auto;
	margin-top: 2%;
}

#fav {
	display: block;
	width: auto;
	float: left;
	margin-left: 2%;
}

#selection{
	width: 100%;
}

#selec{
	display: block;
	float: left;
	margin-top : 1%;
	margin-left: 2%;
}

#listBtn {
	min-width: 10px !important;
	float: left;
	margin-top: 3%;
}

#chipFav{
	width: 80%;
	display: block;
	margin-top: 1%;
	margin-left: 1%;
}

#chipSearch{
	float: left;
	width: 100%;
	display: flex;
}

#chipSelec{
	width: 80%;
	display: flex;
	margin-left: 1%;
	margin-top: 1%;
}

#selection{
	display: inline-block;
}

mat-chip{
	float: left;
	margin-left: 1%;
	width: auto;
}

#searchAssoc{
	width: 100%;
	display: block;
}

mat-menu content {
	display: inline-flex;
}

button.mat-menu-item {
	display: block;
    width: 33%;
}

::ng-deep .mat-menu-content:not(:empty) {
    padding-top: 8px;
    display: inline-flex;
    padding-bottom: 8px;
}

::ng-deep .mat-menu-panel {
	width: 100%;
	overflow: visible;
}

.example-card {
	margin-left: 1%;
	margin-right: 1%;
}

.cardResult{
	margin-top: 2%;
	margin-left: 1%;
	margin-right: 1%;
	width: 31%;
	display: inline-block;
	float: left;
}

.cards{
	display: block;
	width: 100%;
}