<mat-toolbar>
  <input type="search" matInput placeholder="Saisissez un mot à rechercher" aria-label="Mot" [(ngModel)]="value" matInput [matAutocomplete]="auto">

  <span class="example-spacer"></span>
  <mat-menu #appMenu="matMenu">
      <button mat-menu-item (click)="goToPref()">Ordre Alphabétique</button>
      <button mat-menu-item>Ordre Alphabétique</button>
    </mat-menu>
    
    <button mat-button style="float: right" [matMenuTriggerFor]="appMenu">Popularité</button>
  	<button mat-icon-button (click)="sortOrder()"><mat-icon>{{logoSort}}</mat-icon></button>
</mat-toolbar>