.example-spacer {
  flex: 1 1 auto;
}

mat-toolbar{
  height: 75px;
  /*background-color: #fafafa;*/
}

input {
    color: #333;
    border: none;
    border-radius: 100px;
    background-color: #e2e2e2;
    outline: none;
    width: 30%;
    padding: 5px 16px;
    margin-left: 8px;
    height: 60%;
    font-size: 0.75em;
    -webkit-appearance: none;
}
