.example-spacer {
  flex: 1 1 auto;
}

mat-toolbar{
  height: 75px;
  background-color: white;
  box-shadow: 0px 5px 5px grey;
}

input {
    color: #333;
    border: none;
    border-radius: 100px;
    background-color: #e2e2e2;
    outline: none;
    padding: 5px 16px;
    margin-left: 8px;
    height: 60%;
    width: 20%;
    font-size: 0.75em;
    -webkit-appearance: none;
}
