<app-basic-toolbar></app-basic-toolbar>
<div class="moving-zone">
  <div class="popup">
    <img class="image" alt="JeuxDeMots Logo" src="../assets/loupeJDM_Project.png">
  </div>
</div>

<blockquote id="description">
  <p>
    Vous pouvez rechercher des mots de n'importe quelle longueur.
  </p>
  <p>
    Une aide à la recherche est disponible à partir de 3 lettres.
  </p>
</blockquote>
<div [@.disabled]="true">
  <mat-tab-group>
    <mat-tab label="Chercher un mot">
        <div class="input-form"> 
          <div id="searchInput">
            <mat-icon id="searchIcon">search</mat-icon>
            <input #wordInput type="search" placeholder="Saisissez un mot à rechercher" aria-label="Mot" matInput [matAutocomplete]="auto" [formControl]="wordControl">
          </div>
          <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
            <mat-option *ngIf="showSpinner()">
              <div class="spinner">
                <div class="bounce1"></div>
                <div class="bounce2"></div>
                <div class="bounce3"></div>
              </div>
            </mat-option>
            <mat-option *ngFor="let option of filteredWords | async" [value]="option">
              {{option}}
            </mat-option>
          </mat-autocomplete>
        </div>
        <button id="searchButton" [disabled]="currentValue.trim() == ''" mat-raised-button (click)="submitNormalSearch()" >Rechercher dans JeuxDeMots</button>
    </mat-tab>
    <mat-tab label="Recherche inversée">
        <button id="searchButton" [disabled]="currentValue.trim() == ''" mat-raised-button (click)="submitReverseSearch()" >Rechercher dans JeuxDeMots</button>
    </mat-tab>
  </mat-tab-group>
</div>
