#description{
  width: 45%;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-top: 1%;
  margin-bottom: 1%;
  text-align: left;
}

blockquote {
  background: #eee;
  max-height: 100px;
  overflow: auto;
  margin: 0 auto;
  padding: .5%;
  border-left: 5px solid #ffd740;
  text-align: center;
}

blockquote:before {
  display: none;
}

blockquote p {
  margin: 0 0;
  color: #555;
  font-size: 13pt;
  line-height: 1.3;
  font-family: 'PT Serif', Cambria, 'Hoefler Text', Utopia, 'Liberation Serif', 'Nimbus Roman No9 L Regular', Times, 'Times New Roman', serif;
}


img{
  margin-top: 45px;
  width: 300px;
}

#searchInput{
	display: inline-block;
	background-color: #e2e2e2;
	width: 45%;
	border-radius: 100px;
	padding: 5px 16px;
  text-align: left;
}

#searchIcon{
	display: block;
	padding-top: 10px;
	font-size: 2.5em;
	float: left;	
}

input {
	display: block;
	float: right;
  color: #333;
  border: none;
  border-radius: 100px;
  background-color: #e2e2e2;
  outline: none;
  width: 94%;
  height: 55px;
  padding: 5px 16px;
  margin-left: 5px;
  font-size: 1.25em;
  -webkit-appearance: none;
}

#searchButton {
  margin-top: 20px;
}

@media (max-width: 1280px){
	#searchInput {
    width: 65%;
  }

  #description {
    width: 65%;
  }
}

@media (max-width: 800px){
	#searchInput {
    width: 80%;
  }

  #searchIcon {
    display: none;
  }

  #description {
    width: 80%;
  }

  img {
    width: 250px;
  }
}


@media (max-width: 340px){
  img {
    width: 200px;
  }
}

/* Animation logo */
.image{
  -webkit-animation:spin 6s linear infinite;
  -moz-animation:spin 6s linear infinite;
  animation:spin 6s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotateY(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotateY(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotateY(360deg); transform:rotateY(360deg); } }


/* Spinner */
.spinner {
  margin: 20px auto;
  width: 70px;
  text-align: center;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #333;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% { 
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}


