.example-spacer {
  flex: 1 1 auto;
}

mat-toolbar{
  height: 75px;
  background-color: white;
  padding: 0 !important;
}

/*input {
    color: #333;
    border: none;
    border-radius: 100px;
    background-color: #e2e2e2;
    outline: none;
    padding: 5px 16px;
    margin-left: 8px;
    height: 60%;
    width: 20%;
    font-size: 0.75em;
    text-align: left;
    -webkit-appearance: none;
}*/

::ng-deep .mat-menu-content:not(:empty) {
  display: block;
}

#searchedWord {
  margin-right: 2%;
  margin-left: 2%;
}

.search-bar {
  width: 100%; 
  text-align: left;
  display: flex;
}
.search-bar * {
  color: black !important;
}
.search-bar input {
  border-bottom-color: black;
}

#searchBarSearch {
  width: 50px;
  margin: auto;
}

#formFieldInput {
  flex: 1;
  margin-left: 20px;
}

#searchBarClose {
  width: 50px;
  margin: auto;
}

.rightSideMargin {
  margin-right: 1%;
}

.leftSideMargin {
  margin-left: 1%;
}

/* Spinner */
.spinner {
  margin: 100px auto 0;
  width: 70px;
  text-align: center;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #333;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% { 
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}