.example-spacer {
  flex: 1 1 auto;
}

mat-toolbar{
  height: 75px;
  background-color: white;
}

/*input {
    color: #333;
    border: none;
    border-radius: 100px;
    background-color: #e2e2e2;
    outline: none;
    padding: 5px 16px;
    margin-left: 8px;
    height: 60%;
    width: 20%;
    font-size: 0.75em;
    text-align: left;
    -webkit-appearance: none;
}*/

::ng-deep .mat-menu-content:not(:empty) {
  display: block;
}

#searchedWord {
  margin-right: 2%;
  margin-left: 2%;
}

.search-bar {
  width: 100%; 
  text-align: left;
}
.search-bar * {
  color: black !important;
}
.search-bar input {
  border-bottom-color: black;
}

#searchBarSearch {
  width: 2.5%
}

#formFieldInput {
  width: 95%
}

#searchBarClose {
  width: 2.5%
}